body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

nav ul {
    background: #555;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    display: inline-block;
}

section {
    padding: 20px;
    margin: 0 10%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}