body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}

header {
    position: relative;
    width: 100%;
    height: 600px; /* Adjust based on the video height or as needed */
    overflow: hidden; /* Important for cropping the video */
}

header h1 {
    font-family: Anurati;
    font-size: 50pt;
    color: white; /* Adjust color as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure it's above the video */
}

.header-video {
    position: relative;
    width: 100%; /* Adjust based on your layout needs */
    height: 75vh; /* Or any other height you prefer */
    overflow: hidden;
}

.header-video video {
    position: absolute;
    bottom: 0; /* Align the bottom of the video with the bottom of the container */
    left: 0;
    width: 100%;
    height: auto;
    min-height: 150%; /* Make the video twice as tall as the container */
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Added to ensure positioning context */
    width: 100%; /* Ensure full width */
    z-index: 1000; /* Keep it above other content */
}

.fixed {
    position: fixed;
    top: 0;
    left: 0; /* Ensures it sticks to the top left corner */
    width: 100%; /* Stretches across the viewport */
}

.logo {
    font-family: Anurati;
    position: absolute;
    left: 20px; /* Or your preferred spacing */
    /* Your existing styling */
}

nav ul {
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0));
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-family: VICASSO;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
}

section {
    padding: 20px;
    margin: 0 10%;
}

/* Initial state of the image */
.scroll-image {
    width: 100%; /* Adjust this as needed */
    height: auto;
    margin: 20px 0; /* Adds space around the image */
    opacity: 0;
    transition: opacity 7s ease-out; /* Smooth transition for the fade-in effect */
}
/* Class to add when the image becomes visible */
.scroll-image-visible {
    opacity: 1;
}

.video-container {
    position: relative;
    width: 100%; /* Adjust based on your layout needs */
    height: 75vh; /* Or any other height you prefer */
    overflow: hidden;
}

.video-container video {
    position: absolute;
    bottom: 0; /* Align the bottom of the video with the bottom of the container */
    left: 0;
    width: 100%;
    height: auto;
    min-height: 150%; /* Make the video twice as tall as the container */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}




@font-face {
    font-family: 'VICASSO';
    src: url('fonts/VICASSO.woff2') format('woff2'),
         url('fonts/VICASSO.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Anurati';
    src: url('fonts/Anurati.woff2') format('woff2'),
         url('fonts/Anurati.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.clicked {
    border-bottom: 2px solid #00ffb3;
    /* Add additional styles as needed */
}
