body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}

header {
    position: relative;
    width: 100%;
    height: 600px; /* Adjust based on the video height or as needed */
    overflow: hidden; /* Important for cropping the video */
}

header h1 {
    font-family: Anurati;
    font-size: 50pt;
    color: white; /* Adjust color as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: left;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure it's above the video */
}

.header-video {
    position: relative;
    width: 100%; /* Adjust based on your layout needs */
    height: 75vh; /* Or any other height you prefer */
    overflow: hidden;
}

.header-video video {
    position: absolute;
    bottom: 0; /* Align the bottom of the video with the bottom of the container */
    left: 0;
    width: 100%;
    height: auto;
    min-height: 150%; /* Make the video twice as tall as the container */
}

nav {
    position: fixed; /* Make the nav fixed to the top */
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0, .9); 
    z-index: 1000;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 150px;
    padding-top: 10px;
    height: 50px;
}

nav::after {
    content: '';
    position: absolute;
    bottom: -30px; /* Starts the effect right at the bottom of the nav and extends downwards */
    left: 0;
    width: 100%;
    height: 30px; /* Height of the fading effect */
    background: linear-gradient(to bottom, rgb(0, 0, 0, .9), rgb(0, 0, 0, .5), rgba(0, 0, 0, 0)); /* Adjusted fade effect */
}

.logo {
    color: #fff;
    font-family: Anurati;
    font-size: 20pt;
}

section {
    padding: 20px;
    margin: 0 10%;
}

/* Initial state of the image */
.scroll-image {
    width: 100%; /* Adjust this as needed */
    height: auto;
    margin: 20px 0; /* Adds space around the image */
    opacity: 0;
    transition: opacity 7s ease-out; /* Smooth transition for the fade-in effect */
}
/* Class to add when the image becomes visible */
.scroll-image-visible {
    opacity: 1;
}

.video-container {
    position: relative;
    width: 100%; /* Adjust based on your layout needs */
    height: 75vh; /* Or any other height you prefer */
    overflow: hidden;
}

.video-container video {
    position: absolute;
    bottom: 0; /* Align the bottom of the video with the bottom of the container */
    left: 0;
    width: 100%;
    height: auto;
    min-height: 150%; /* Make the video twice as tall as the container */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}


#scrollButton {
    font-family: Vicasso;
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 150px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
    transition: border-bottom-color 0.3s ease;
}

#scrollButton::after {
    content: '';
    position: absolute;
    bottom: 0; /* Aligns it at the bottom of the button */
    left: 50%; /* Start from the center */
    width: 0%; /* Initial width */
    height: 2px; /* Height of the line */
    background-color: #00ffb3; /* Color of the line */
    transition: width 0.3s ease, left 0.3s ease; /* Animate width and horizontal position */
}

#scrollButton:hover::after, #scrollButton:active::after {
    width: 100%; /* Full width */
    left: 0; /* Start expanding from the left edge */
    border: none;
}

@font-face {
    font-family: 'Vicasso';
    src: url('fonts/Vicasso.woff2') format('woff2'),
         url('fonts/Vicasso.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Anurati';
    src: url('fonts/Anurati.woff2') format('woff2'),
         url('fonts/Anurati.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

